
body{
    font-family: sans-serif;
    margin: 0;
}

.auth--page {
    text-align: center;
}

.auth--sign-up-form{
    width: 80vw;
    height: 500px;
    background-color: rgb(173, 173, 173);
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.auth--sign-up-form button {
    width: 15vw;
    height: 7vh;
    border-radius: 5px;
    border: none;
}

.auth--sign-up-form input{
    width: 50%;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
}

.auth--login-form{
    width: 80vw;
    height: 500px;
    background-color: rgb(173, 173, 173);
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.auth--login-form button {
    width: 15vw;
    height: 7vh;
    border-radius: 5px;
    border: none;
}

.auth--login-form input{
    width: 25vw;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
}

.form--toggles{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.form--toggles h2{
    width: 50%;
}

.highlight-login{
    color: aliceblue;
    border-bottom: solid black 2px;
}

.highlight-signin{
    color: aliceblue;
    border-bottom: solid black 2px;
}

.menu--container{
    margin: auto;
    width: 400px;
    height: 400px;
    background-color: aquamarine;
}

.header--container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(102, 199, 129);
    height: 100px;
}

.header--container h1{
    margin: auto;
}

.header--container h6{
    margin: 5px;
}

.header--container button{
    margin: 5px;
}

.home--wrapper{
    height: 100vh;
    width: 100vw;
    background-color: aqua;
}

.selection--wrapper{
    display: flex;
    justify-content: space-around;
    background-color: white;
    /* border-bottom: solid black 2px; */
    box-shadow: 1px 10px 5px 0px rgba(120,115,115,0.75);
    -webkit-box-shadow: 1px 10px 5px 0px rgba(120,115,115,0.75);
    -moz-box-shadow: 1px 10px 5px 0px rgba(120,115,115,0.75);
}

.selection--wrapper h1{
    width: 200px;
    text-align: center;
}

.underlined{
    border-bottom: solid black 2px;
}

.list-items{
    display: flex;
    flex-direction: column;
    border: solid black 2px;
    border-radius: 10px;
    width: 40%;
    height: 300px;
    margin:5%;
    background: rgb(195, 195, 195);
}

.list--container{
    display: flex;
    flex-flow: row;
}